<footer class="footer">
  <div class="footer-wrap">
    <ul class="footer-list">
      <li class="footer">© 2024 | Awesome developers</li>
      <li class="footer">
        Зробимо так щоб ваш сайт виділявся з поміж конкурентів
      </li>
    </ul>
    <ul class="footer-list">
      <li class="footer">Студія</li>
      <li class="footer">Команда</li>
      <li class="footer">Портфоліо</li>
      <li class="footer"></li>
      <li class="footer"></li>
    </ul>
    <ul class="footer-list">
      <li class="footer">Клієнту</li>
      <li class="footer">Етапи та терміни</li>
      <li class="footer">Ваш результат</li>
      <li class="footer">Сервіс</li>
      <li class="footer">Економимо час</li>
    </ul>
    <ul class="footer-list">
      <li class="footer">Інфо</li>
      <li class="footer">Контакти</li>
      <li class="footer">Privacy Policy</li>
    </ul>
    <ul class="footer-list">
      <li class="footer">Соцмережі</li>
      <li class="footer">Instagram</li>
      <li class="footer">Tik Tok</li>
      <li class="footer">Facebook</li>
      <li class="footer">YouTube</li>
    </ul>
  </div>
</footer>
